<div class="hidden">
  <!-- container for player in Desktop mode -->
  <div class="player-wrapper">
    <app-player
      (click)="deletePlayer(i)"
      *ngFor="let player of backend.game.players; let i = index"
      [ngStyle]="{ 'top.px': 0 + i * 150 }"
      class="player-position hide-desktop"
      [playerActive]="i == backend.game.currentPlayer"
      [name]="player"
    ></app-player>
  </div>

  <!-- container for player in mobile mode (below 960px) -->
  <div class="scroll-wrapper">
    <app-player-mobile
      (click)="deletePlayer(i)"
      *ngFor="let player of backend.game.players; let i = index"
      class="hide-mobile player-spacing"
      [playerActive]="i == backend.game.currentPlayer"
      [name]="player"
    ></app-player-mobile>
  </div>

  <div class="table">
    <div class="card-stack">
      <!-- card stack -->
      <img
        [ngStyle]="{ 'right.px': i * 5 }"
        *ngFor="let c of [0, 1, 2, 3]; let i = index"
        src="../../assets/img/cards/card_cover.png"
      />

      <!-- drawable card -->
      <img
        (click)="takeCard()"
        class="top-card"
        style="right: 25px"
        src="../../assets/img/cards/card_cover.png"
      />

      <!-- Stack for played cards -->
      <img
        *ngFor="let card of backend.game.playedCards"
        class="played-card"
        src="../../assets/img/cards/{{ card }}.png"
      />

      <!-- current Card (animated) -->
      <img
        (click)="takeCard()"
        *ngIf="backend.game.pickCardAnimation"
        class="pick-card"
        style="right: 25px"
        src="../../assets/img/cards/{{ backend.game.currentCard }}.png"
      />
    </div>
  </div>
 
  <app-game-info [card]="backend.game.currentCard" class="card-bottom"></app-game-info>

  <button mat-fab color="primary" (click)="openDialog()" class="btnPos">
    <mat-icon>add</mat-icon>
  </button>

</div>
